<!DOCTYPE html>
<html>
<head>
<style>
html {
  background: url(img_Art.jpeg) no repeat center fixed;
  background-size: cover;
}

body {
  color: white;
}
</style>
</head>
<body>


<h1 <b><em> "Innovation and You" </b></em></h1>

</body>
</html>
